/*
    Document   : css/forward．css
    Created on : 2014-09-17 01:17 PM
    Author     : ohshitdacops
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/
body {
    margin-top: 50px;
}
.sidebar {
    height: 100vh;
    background-color: #eee;
}
.navbar-custom {
    color: whitesmoke;
}
.sidebar img {
    margin: 25px;
    position: relative;
    width: 150px;
}
.sidebar ul {
    font-size: 20px;
}
.content {
    padding: 20px;
}